<h1>商品列表</h1>

<%= link_to '新增商品', new_product_path, class: "btn btn-default btn-primary" %>
<%= link_to '檢視購物車', cart_path, class: "btn btn-default btn-success" %>
<% if not current_cart.empty? %>
  <li>購物車項目（<%=current_cart.items.count %>)</li>
  <li>總價<%= current_cart.total_price %></li>
  <li><%= link_to '清空購物車',cart_path, method: 'delete', remote: true %></li> 
<% end %>
<table class="table table-hover">
  <thead>
    <tr>
      <td>商品名稱</td>
      <td>售價</td>
      <td>編輯/刪除</td>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td>
        <%= link_to '加入購物車', add_cart_path(product), method: "post", class: "btn btn-xs btn-danger" %>
        <%= product.title %>
      </td>
      <td><%= product.price %></td>
      <td>
        <%= link_to '編輯', edit_product_path(product), class: "btn btn-xs btn-default" %>
        <%= link_to '刪除', product, method: "delete", data: { confirm: "確定刪除?" }, class: "btn btn-xs btn-default" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
